<mapper namespace="com.nyeong.mapper.planMapper">
    <resultMap id="planMap" type="com.nyeong.entity.Plan" autoMapping="true">
    </resultMap>

    <select id="getByPlanIds" resultMap="planMap" parameterType="list">
        select * from plan
        <where>
            \"planID"\ in
            <foreach item="item" collection="list" separator="," open="(" close=")" index="">
                    #{item}
            </foreach>
        </where>
    </select>
</mapper>